*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.nav--links{
  display: flex;
  flex-direction: row;
  height: 50px;   
}
.nav--links a{
  color: #1D1F22;
  margin: 0 5px;
  padding: 15px;
  text-decoration: none;
}
.nav--links a:hover{
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
}
nav .logo {
  display: flex;
  justify-content: center;
}
.nav--img{
  display: flex;
  align-items: center;
}
.arrow{
  cursor: pointer;
  margin:0 22px 0 0;
}
.currency{
  position: absolute;
  width: 114px;
  height: 169px;
  left: 1155px;
  top: 50px;
}
.currency p{
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1D1F22;
}
.currency p:hover{
  padding-left: 5px;
  transition: all .3s;
}
h1{
  margin-bottom: 50px;
}
.card--container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  width: 325px;
  margin: 20px;
  border:none;
}
.card p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}
.card .price{
  font-weight: 500;
}
.card img::after{
  content: "ss";
  display:block;
  top: 275px;
  right: 10px;
  background-color:#53d87b;
  width: 50px;
  height: 50px;
  /* content: "";
  position:"absolute";
  display:"block";
  top:" 275px";
  right: "10px";
  background-color:" #53d87b";
  padding:" 15px";
  border-radius:"50%"; */
}