/*xs-screen*/

@media (max-width:767px){
	nav{
		display: flex;
        flex-direction: column;
        text-align: center;
		background-color: var(--main-color);
	}
	.form-inline{
		flex-direction: column;
		flex-wrap: wrap;
	}
	.heading-cont h1{
		font-size: 58px;
		margin: 100px 13px 0 -37px;
	
	}
	.landing-page {
		background-position: center;
		padding-left: 0;
		padding-right: 0;
	}
	.collapse {
		width: 50px;
		display: flex;
		background-color: #222;
		padding: 2px;
		flex-direction: column;
		height: 50px;
		justify-content: space-around;
		position: fixed;
		top: 20px;
		right: 10px;
}
    .collapse span{
		width: 50px;
		height: 2px;
		margin: 1px;
		background-color: #fff;
	}
}
/*md-screen*/

@media (min-width:768px)and (max-width:991px){
}

/*lg-screen*/

@media (min-width:992px)and (max-width:1199px){
	.form-inline{
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

/*xl-screen*/

@media (min-width:1200px){
}
